################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.venv
/src/master_color_mixer/__pycache__
/src/master_color_mixer/alg/__pycache__
/src/master_color_mixer/core/__pycache__
/src/master_color_mixer/data/__pycache__
